.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 10px 0 0 0;
    text-align: center;
    color: #fff;
}

.page-header h2 {
    position: relative;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #fff;
}

.page-header a:hover {
    color:darkgray;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #fff;
}

.page-header a:last-child::after {
    display: none;
}

.contact {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.contact .container{
    max-width: 900px;
}

.contact .contact-item {
    text-align: center;
    margin-bottom: 30px;

}

.contact .contact-item i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    font-size: 25px;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 50px;
    border: 1px solid #fff;
}

.contact .contact-item h2 {
    font-size: 25px;
    font-weight: 700;
}

.contact .contact-form {
    position: relative;
    color: #000;
    background:#fff;
}

.contact .contact-form input {
    height: 45px;
    padding: 15px;
    background: none;
    border-radius: 0;
    color: #000;
}

.contact .contact-form input ::placeholder{
    color: #000;
}

.contact .contact-form textarea {
    height: 150px;
    padding: 15px;
    background: none;
    border-radius: 0;
}

.contact .contact-form .btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #F7CAC9;
    background: #343148;
    border-radius: 0;
    transition: .3s;
}

.contact .contact-form .btn:hover {
    color: #343148;
    background: #F7CAC9;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container-sm{
    width: 600px;
   
}
.container-sm form label{
    padding: 10px 20px;
    border-radius: 50px;
}

#btn{
    margin-left: 210px;
}